.jobExperience {
  font-family: var(--euclid-circular-font);
}

.title {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 27px;
  color: #404553;
}

.date {
  font-weight: 400;
  font-size: 1.18rem;
  line-height: 24px;
  color: #9fa1a8;
}

.description {
  font-weight: 400;
  font-size: 1.18rem;
  line-height: 31px;
  color: #404553;
  margin-top: 18px;
}