@use "@/styles/mixins/mixins" as m;

.layer {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .1);
  border-radius: calc(var(--border-radius) - 2px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in-out;
}

.layer .buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 8px;
  pointer-events: all;
}

.layer .buttons>button {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 7px;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #f9f9f9;
  }

  &:active {
    background-color: #f1f1f1;
  }
}

.layer .buttons>button>svg {
  width: 18px;
  height: 18px;
}

.layer .buttons>button>input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

@include m.medium {
  .layer .buttons .previewButton {
    display: none;
    pointer-events: none;
  }
}