@use "@/styles/mixins/mixins" as m;

.preview {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 11;
  overflow-y: scroll;
  height: 100dvh;
}

@include m.medium {
  .preview {
    display: none;
  }
}

.preview::-webkit-scrollbar {
  display: none;
}

.preview>* {
  scale: .9;
}