.profileHeader p {
  color: var(--resume4-color);
}

// Line
.profileHeader header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--resume4-color);
}

.profileHeader header {
  position: relative;
  padding-bottom: 16px;
}

.profileHeader header h2 {
  font-family: Inter, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  color: var(--resume4-color);
  font-weight: 700;
}

.profileHeader header .name {
  word-spacing: 3px;
  margin-bottom: 8px;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.profileHeader header .profession {
  margin-bottom: 6px;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.profileHeader footer {
  margin-block: 16px;
  padding-bottom: 16px;
  position: relative;
}

.profileHeader footer>h2 {
  font-weight: 700;
  font-size: 1.35rem;
  color: var(--resume4-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profileHeader footer>p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;

  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}