.techSkills>h2 {
  font-family: var(--euclid-circular-font);
  font-weight: 700;
  font-size: 1.77rem;
  line-height: 33px;
  color: #393E4D;
}

.techSkills .skills {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 4px 0;
  margin-top: 12px;
}

.techSkills .skills>li {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #666a75;
  font-family: var(--font-euclid-circular);
  font-weight: 400;
  font-size: .93rem;
  line-height: 31px;
}

.techSkills .skills>li>svg {
  width: 18px;
  height: 18px;
}