.experiences>h2 {
  font-weight: 700;
  font-size: 1.35rem;
  color: var(--resume3-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.experiences .experiencesWrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}