.experiences {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.experiences::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--resume3-color);
}

.experiences>h2 {
  font-weight: 700;
  font-size: 1.35rem;
  color: var(--resume3-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.experiences .experiencesWrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}