.education>h2 {
  font-family: var(--euclid-circular-font);
  font-weight: 700;
  font-size: 1.77rem;
  line-height: 36px;
  color: #393E4D;
  text-transform: uppercase;
}

.education .educationContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-family: var(--euclid-circular-font);
  margin-top: 8px;
}

.educationContent .degree {
  font-weight: 500;
  font-size: 1.18rem;
  line-height: 32px;
  color: #404553;
}

.educationContent .university {
  font-weight: 400;
  font-size: 1.18rem;
  line-height: 32px;
  color: #404553;
}

.educationContent .graduateDate {
  font-weight: 400;
  font-size: 1.18rem;
  line-height: 32px;
  color: #9fa1a8;
}