.progressBar {
  font-family: var(--poppins-font);
  padding-left: 40px;
  transition: opacity .3s .7s ease-in-out;

  &.hide {
    transition: opacity .3s ease-in-out;
    opacity: 0;
  }
}

.progressBar span {
  font-weight: 500;
  font-size: .93rem;
  line-height: 22px;
  text-transform: capitalize;
}

.progressBar .title {
  color: #545965;
}

.progressBar .barWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  user-select: none;
}

.progressBar .barWrapper .bar {
  min-width: 185px;
  height: 14px;
  border-radius: 20px;
  background-color: #e6e6e6;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.progressBar .barWrapper .progress {
  height: 14px;
  border-radius: 20px 0 0 20px;
  background-color: #ea6565;
  transition: width .5s .6s ease-in-out;
}

.progressBar .barWrapper .futureProgress {
  height: 14px;
  border-radius: 20px 0 0 20px;
  background-color: #ea6565;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .3;
  transition: width .2s ease-in-out;
}

.progressBar .barWrapper .percentage {
  color: #a3a3a3;
}