.resumeFrame {
  --border-radius: 6px;
  position: relative;
  width: 236px;
  border: solid 2px #e1e4e7;
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px -4px transparent;

  &.active {
    border-color: #ea6565;
  }

  &:not(.active):has(:focus-visible) {
    border-color: #ff9e9e;
  }
}

.resumeFrame:where(:hover, :has(:focus-visible)) [data-type=layer] {
  opacity: 1;
}

.resumeFrame>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  color: #000 !important;
  user-select: none;
}