.resumeFrame {
  --border-radius: 6px;
  position: relative;
  cursor: pointer;
  width: 240px;
  border: solid 2px #e1e4e7;
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px -4px transparent;
}

.resumeFrame:hover .layer {
  opacity: 1;
}

.resumeFrame>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.resumeFrame>input {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.resumeFrame .layer {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .2);
  border-radius: calc(var(--border-radius) - 2px);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.resumeFrame .layer .buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 8px;
}

.resumeFrame .layer .buttons>button {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 7px;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #f9f9f9;
  }

  &:active {
    background-color: #f1f1f1;
  }
}

.resumeFrame .layer .buttons>button>svg {
  width: 18px;
  height: 18px;
}