.resumeFrame {
  --border-radius: 6px;
  position: relative;
  cursor: pointer;
  width: 240px;
  border: solid 2px #e1e4e7;
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px -4px transparent;

  &.active {
    border-color: #ea6565;
  }
}

.resumeFrame:hover [data-type=layer] {
  opacity: 1;
}

.resumeFrame>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.resumeFrame>input {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}