.resumeSection {
  margin-top: 12px;
}

.resumeSection .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resumeSection .buttons>a {
  width: fit-content;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }

  &.previewButton {
    color: #ec6767;
  }

  &.editButton {
    color: #0073e6;
  }
}