.resumeSection {
  margin-top: 12px;
}

.resumeSection .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resumeSection .buttons>a {}

.resumeSection .buttons .previewButton {}

.resumeSection .buttons .editButton {}