@use "./mixins/generateFontFaces" as gfc;

$poppins-font-map: (
  name: "Poppins",
  format: 'truetype',
  ext: "ttf",
  weights: ("300": "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$euclid-circular-font-map: (
  name: "Euclid Circular A",
  format: 'truetype',
  ext: "ttf",
  weights: (300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$roboto-font-map: (
  name: "Roboto",
  format: 'truetype',
  ext: "ttf",
  weights: (300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$dm-sans-font-map: (
  name: "DMSans",
  format: 'truetype',
  ext: "ttf",
  weights: (300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$aileron-font-map: (
  name: "Aileron",
  format: 'opentype',
  ext: "otf",
  weights: (300: "Light",
    400: "Regular",
    600: "SemiBold",
    700: "Bold",
    800: "Heavy",
    900: "Black"
  )
);

@include gfc.generate-font-faces($poppins-font-map);
@include gfc.generate-font-faces($euclid-circular-font-map);
@include gfc.generate-font-faces($roboto-font-map);
@include gfc.generate-font-faces($dm-sans-font-map);
@include gfc.generate-font-faces($aileron-font-map);