$fonts-path: "/assets/fonts/";

$poppins-font-map: (
  name: "Poppins",
  format: 'truetype',
  file-extension: "ttf",
  weights: ("300": "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$euclid-circular-font-map: (
  name: "Euclid Circular A",
  format: 'truetype',
  file-extension: "ttf",
  weights: (300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$roboto-font-map: (
  name: "Roboto",
  format: 'truetype',
  file-extension: "ttf",
  weights: (300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

$dm-sans-font-map: (
  name: "DMSans",
  format: 'truetype',
  file-extension: "ttf",
  weights: (300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold"
  )
);

@mixin generate-font-faces($font-map) {
  $font-weights: map-get($font-map, weights);
  $file-extension: map-get($font-map, file-extension);

  @each $weight, $label in $font-weights {
    $font-name: map-get($poppins-font-map, name);
    $format: map-get($poppins-font-map, format);

    $file-name: "#{$font-name}-#{$label}.#{$file-extension}";
    $path: "#{$fonts-path}#{$font-name}/#{$file-name}";

    @font-face {
      font-family: $font-name;
      src: url($path) format($format);
      font-weight: $weight;
      font-style: normal;
      font-display: swap;
    }
  }
}

@include generate-font-faces($poppins-font-map);
@include generate-font-faces($euclid-circular-font-map);
@include generate-font-faces($roboto-font-map);
@include generate-font-faces($dm-sans-font-map);