@use "./colors";
@use "./fonts";
@use "./variables";
@use "./mixins/mixins" as m;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--poppins-font);
  background-color: #f9f9f9;
}

body.homePage {
  background-color: #fff;
}

main {
  min-height: 100dvh;
}

@media (max-width: 850px) {
  main {
    min-height: auto;
  }
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

@include m.small {
  .container {
    width: 95%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  user-select: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

svg {
  display: block;
}

label {
  cursor: pointer;
  user-select: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}