@use "./colors";
@use "./variables";
@import "./fonts.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--poppins-font);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  user-select: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

svg {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}