.iconHolder {
  padding: 4px;
  position: absolute;
  right: -28px;
  top: 50%;
  translate: 0 -50%;
  width: 26px;
  height: 26px;
  cursor: default;
}

.iconHolder>svg {
  --svg-color: #000;
  width: 100%;
  height: 100%;
}

.iconHolder>svg:not(.checkMark) {
  stroke: var(--svg-color) !important;

  &>circle {
    fill: var(--svg-color) !important;
  }
}

.iconHolder.warning>svg {
  --svg-color: #EAB308;
}

.iconHolder.error>svg {
  --svg-color: #ff6c6f;
}

.iconHolder.checkMark>svg {
  fill: #12ba23;
}

.mainWrapper:where(:hover, :focus-visible) p[data-is-tooltip=true] {
  transition: opacity .2s .2s ease-in-out;
  opacity: 1;
}