.iconHolder {
  padding: 4px;
  position: absolute;
  right: -28px;
  top: 50%;
  translate: 0 -50%;
  width: 26px;
  height: 26px;
  cursor: default;
}

.iconHolder>svg {
  --svg-color: #000;
  width: 100%;
  height: 100%;
}

.iconHolder>svg:not(.checkMark) {
  stroke: var(--svg-color) !important;

  &>circle {
    fill: var(--svg-color) !important;
  }
}

.iconHolder.warning>svg {
  --svg-color: #EAB308;
}

.iconHolder.error>svg {
  --svg-color: #ff6c6f;
}

.iconHolder.checkMark>svg {
  fill: #12ba23;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 28px);
  translate: 0 -50%;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: .8rem;
  font-weight: 400;
  color: #fff;
  background-color: #404653;
  text-transform: capitalize;
  pointer-events: none;
  padding: 4px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .2s 0s ease-in-out;
}

.mainWrapper:hover .tooltip {
  transition: opacity .2s .2s ease-in-out;
  opacity: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  translate: 0 -50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid #404653;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}