@use "@/styles/mixins" as m;

.myResume {
  background: #F5F6F7;
  display: flex;
  gap: 17px;
  border-radius: 20px;
  padding: 30px;
  scale: .6;
  position: absolute;
  right: -212px;
  top: -160px;
}

@media (max-width: 1400px) {
  .myResume {
    position: static;
    right: auto;
    top: auto;
    scale: 1;
    width: fit-content;
    margin-top: 70px;
  }
}

@include m.large {
  .myResume {
    scale: .7;
    position: absolute;
    left: -160px;
    top: 250px;
  }
}

@media (max-width: 850px) {
  .myResume {
    display: none;
  }
}

.myResume .wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.myResume>section,
.myResume .wrapper>section {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  width: 507px;
}

.myResume>section {
  width: 479px;
}