@use "@/styles/mixins/mixins" as m;

.liveResume {
  width: 764px;
  height: 1123px;
  margin-top: 6px;
  background-color: #fff;
  padding: 60px;
  position: relative;
}

.liveResume .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 40px;
  grid-template-areas:
    "experiences skills"
    "experiences education"
    "experiences certifications";
}