.tab {
  border-radius: 6px;
  position: relative;
}

.tabButton {
  width: 100%;
  border: solid 2px #dadfec;
  background-color: transparent;
  color: #0a1125;
  padding: 10px 12px;
  font-size: .8rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  border-radius: inherit;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  position: relative;
  transition:
    background-color .1s ease-in-out,
    border-color .1s ease-in-out,
    color .1s ease-in-out;

  &:active {
    background-color: #ff5e61;
    border-color: #ff5e61;
    color: #fff;
  }
}

.tab.active .tabButton,
.tab:not(.active):hover .tabButton {
  background-color: #ff6c6f;
  border-color: #ff6c6f;
  color: #fff;
}

.tab .removeButton {
  background-color: transparent;
  border: none;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  translate: 0 -50%;
  cursor: pointer;
}

.tab .removeButton>svg {
  width: 10px;
  height: 10px;
  fill: #0a0a0a;
}

.tab.active .removeButton>svg,
.tab.active:hover .removeButton>svg,
.tab:not(.active):hover .removeButton>svg {
  fill: #fff;
}

.tab .iconHolder {
  padding: 4px;
  position: absolute;
  right: -28px;
  top: 50%;
  translate: 0 -50%;
  width: 26px;
  height: 26px;
  pointer-events: none;
}

.tab .iconHolder>svg {
  --svg-color: #000;
  width: 100%;
  height: 100%;
}

.tab .iconHolder>svg:not(.checkMark) {
  stroke: var(--svg-color) !important;

  &>circle {
    fill: var(--svg-color) !important;
  }
}

.tab .iconHolder.warning>svg {
  --svg-color: #EAB308;
}

.tab .iconHolder.error>svg {
  --svg-color: #ff6c6f;
}

.tab .iconHolder.checkMark>svg {
  fill: #12ba23;
}