.education {
  grid-area: education;
}

.education>h2 {
  font-family: var(--aileron-font);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 30px;
  color: #393E4D;
  text-transform: capitalize;
}

.education .educationContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--euclid-circular-font);
  margin-top: 8px;
}

.educationContent .degree {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #5e6c74;
}

.educationContent .fieldOfStudy {
  font-weight: 400;
  font-size: .9rem;
  line-height: 32px;
  color: #5e6c74;
}

.educationContent .university {
  font-weight: 400;
  font-size: .9rem;
  line-height: 32px;
  color: #5e6c74;
}

.educationContent .graduateDate {
  font-weight: 400;
  font-size: .9rem;
  color: #5e6c74;
  display: flex;
  align-items: center;
  gap: 4px;
}

.educationContent .graduateDate>svg {
  width: 20px;
  height: 20px;
  fill: #5e6c74;
  position: relative;
  bottom: 2px;
}