.experiences>h2 {
  font-family: var(--aileron-font);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 30px;
  color: #393E4D;
  text-transform: capitalize;
}

.experiences .experiencesWrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}