.jobExperience {
  font-family: var(--euclid-circular-font);
}

.title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: #404553;
}

.date {
  font-weight: 400;
  font-size: .9rem;
  color: #9fa1a8;
}

.description {
  font-weight: 400;
  font-size: .8rem;
  line-height: 22px;
  color: #5e6c74;
  margin-top: 8px;

  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}