.profileHeader {
  min-height: 380px;
}

.profileHeader>h2 {
  font-family: var(--roboto-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 33px;
  text-transform: capitalize;
  color: #393E4D;
}

.profileHeader .socialMedia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-block: 6px 14px;
  width: 82%;
}

.profileHeader .media {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: .8rem;
  text-wrap: nowrap;
  width: fit-content;
  color: #545865;
}

.profileHeader svg {
  width: 20px;
  height: 20px;
  stroke: #545865;
}

.profileHeader .textBox:not(:last-child) {
  margin-bottom: 14px;
}

.profileHeader .textBox>h2 {
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  color: #4d525f;
  text-transform: capitalize;
}

.profileHeader .textBox>p {
  font-family: var(--euclid-circular-font);
  font-weight: 400;
  font-size: .8rem;
  line-height: 22px;
  color: #666a75;
  max-width: 380px;
}