.listItem>a {
  display: block;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 40px;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: .93rem;
  line-height: 22px;
  text-transform: capitalize;
  color: #404653;
  text-wrap: nowrap;
  transition: padding-left .2s .55s ease-in-out;

  &.active {
    background-color: #fbdddd;
    color: #000112;

    &>svg[data-hover=stroke] {
      stroke: #000112;
    }

    &>svg:not([data-hover=stroke]) {
      fill: #000112;
    }
  }

  &.disabled {
    cursor: default;
    color: #B1B2B9;
  }
}

.listItem>a.menuClosed {
  transition: padding-left .3s .59s ease-in-out;
  padding-left: 21px;
}

.listItem>a>svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.listItem>a.disabled>svg:not([data-hover=stroke]) {
  fill: #B1B2B9;
}

.listItem>a.disabled>svg[data-hover=stroke] {
  stroke: #B1B2B9;
}

.listItem>a svg[data-type=resume] {
  scale: 1.2;
}

.listItem>a .title {
  transition: opacity .3s .4s ease-in-out;
}

.listItem>a.menuClosed .title {
  transition: opacity .01s .7s ease-in-out;
  opacity: 0;
}