.sidebar {
  background-color: #fff;
  border-right: solid 2px #e4e7eb;
  position: relative;
  padding-top: 70px;
  min-width: 304px;
  width: 304px;
  overflow: hidden;
  transition: width .8s ease-in-out;

  &.open.closedOnce {
    animation: open-menu .8s ease-in-out forwards;
  }

  &.close {
    animation: close-menu .8s ease-in-out forwards;
  }
}

@keyframes open-menu {
  0% {
    min-width: 64px;
    width: 64px;
  }

  100% {
    min-width: 304px;
    width: 304px;
  }
}

@keyframes close-menu {
  0% {
    min-width: 304px;
    width: 304px;
  }

  100% {
    min-width: 64px;
    width: 64px;
  }
}