@use "@/styles/mixins" as m;

.button {
  border: none;
  background-color: #EB5757;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding: 8px 20px;
  gap: 8px;
  border-radius: 8px;
  font-family: var(--poppins-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  text-wrap: nowrap;
  text-align: center;
}

@include m.small {
  .button {
    font-size: .9rem;
    min-height: 46px;
  }
}