.sidebar {
  width: 304px;
  background-color: #fff;
  border-right: solid 2px #e4e7eb;
  position: relative;
  padding-top: 74px;
}

.sidebar>button {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.sidebar>button>svg {
  width: 30px;
  height: 30px;
}

.pagesNav {
  margin-bottom: 50px;
}

.pagesNav>ul {}

.pagesNav>ul>li {}

.pagesNav>ul>li>a {
  display: block;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 40px;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: .93rem;
  line-height: 22px;
  text-transform: capitalize;
  color: #404653;

  &.active {
    background-color: #fbdddd;
    color: #000112;
  }
}

.pagesNav>ul>li>a>svg {
  width: 20px;
  height: 20px;
}

.progressBar {
  font-family: var(--poppins-font);
  padding-left: 40px;
}

.progressBar span {
  font-weight: 500;
  font-size: .93rem;
  line-height: 22px;
  text-transform: capitalize;
}

.progressBar .title {
  color: #545965;
}

.progressBar .barWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  user-select: none;
}

.progressBar .barWrapper .bar {
  width: 152px;
  height: 14px;
  border-radius: 20px;
  background-color: #e6e6e6;
  overflow: hidden;
}

.progressBar .barWrapper .progress {
  height: 14px;
  width: attr(data-progress);
  border-radius: 20px 0 0 20px;
  background-color: #ea6565;
}

.progressBar .barWrapper .percentage {
  color: #a3a3a3;
}