.sidebar {
  width: 304px;
  background-color: #fff;
  border-right: solid 2px #e4e7eb;
  position: relative;
  padding-top: 74px;
}

.sidebar>button {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.sidebar>button>svg {
  width: 30px;
  height: 30px;
}