.experienceTabs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.experienceTabs>button {
  border: solid 2px #dadfec;
  padding: 10px 12px;
  background-color: transparent;
  color: #0a1125;
  font-size: .8rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  border-radius: 6px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  transition:
    background-color .1s ease-in-out,
    border-color .1s ease-in-out,
    color .1s ease-in-out;

  &.active,
  &:not(.active):hover {
    background-color: #ff6c6f;
    border-color: #ff6c6f;
    color: #fff;

    &>span>svg {
      fill: #fff;
    }
  }

  &:active {
    background-color: #ff5e61;
    border-color: #ff5e61;
    color: #fff;
  }
}

.experienceTabs>button .xMark {
  padding: 4px;
}

.experienceTabs>button .xMark>svg {
  width: 10px;
  height: 10px;
  fill: #0a0a0a;
}

.experienceTabs .addTab {
  border: dashed 2px #808080;
}